@viewport {
	width: device-width;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html, body {
	background-color: rgb(255, 255, 255);
}

html {
	height: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
	font-size: 100%;
	line-height: 1.25;
	color: rgb(0,0,0);
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
}

body {
	min-height: 100%;
	font-variant-ligatures: no-common-ligatures;
}

article,
aside,
header,
main,
footer,
section,
nav,
figure,
figcaption {
	display: block;
}

p,
ul {
	margin-bottom: 1rem;
}

ul {
	list-style: none;
	padding-left: 25px;
}

li {
	list-style-position: outside;
}

pre {
	font-family: monospace;
	font-size: 1rem;
	white-space: pre-line;
}

q::before {
	content: '«';
}

q::after {
	content: '»';
}

b,
strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

/* remove border on IE */
a img {
	border: none;
}

button,
input,
input[type="button"],
input[type="checkbox"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
	appearance: none;
	background-color: transparent;
	padding: .5rem .25rem;
	line-height: 1.25;
	box-shadow: none;
	border: none;
	border-radius: 0;
	box-shadow: currentColor 0px 0px 0px 1px inset;
	vertical-align: top;
	font-family: inherit;
	font-size: 100%;
}

button {
	cursor: pointer;
}

button,
input[type="submit"] {
	display: inline-block;
	background-color: transparent;
	border-radius: 0;
	padding: .5rem 1rem;
}

textarea {
	resize: vertical;
}

fieldset {
	border: none;
}

audio,
canvas,
iframe,
img,
svg,
video,
input,
select {
	vertical-align: middle;
}

img {
	max-width: 100%;
	height: auto;
}
